// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

@import "top/welcome";
@import "team/home";
@import "team/create";
@import "team/edit";
@import "team/confirm";
@import "team/index";

#app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: #f2f7f5;
}

main {
    margin: auto 0;
}

footer {
    margin-top: auto;
}

.navbar {
    height: 100px;
    background-color: #f2f7f5;
}

.nav-text {
    padding: 5.12px 0px;
    margin-left: 90px;
}

.footer-container {
    height: 100px;
    color: #475d5b;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    p {
        margin: 0;
    }
}

.pagi {
    width: 100%;
    display: flex;
    justify-content: center;
}